.tableWrapper {
  background-color: var(--mantine-color-body);
  border: 1px solid var(--mantine-color-default-border);
  margin-top: 1.25rem;
  border-radius: var(--mantine-radius-md);
  padding-bottom: var(--mantine-spacing-lg);
}

.tableWrapperNight {
  /* background-color: var(--mantine-color-dark-9); */
}

.tableWrapperDay {
  /* background-color: var(--mantine-color-gray-1); */
}

.control {
  width: 100%;
  padding: var(--mantine-spacing-xs);

  /* var(--mantine-spacing-md); */

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.pagination {
  margin-top: var(--mantine-spacing-sm);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
